table th {
    fill: #FFF;
    color:#334D6E;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    font-weight: 400;    
}
table th:hover {
    color: var(--334-d-6-e, #334D6E);
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.13px;
}
input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #334D6E;
    border-radius: 2px;
    outline: none;
    position: relative;
}
input[type='checkbox']:checked {
    background-color: #334D6E;
    border-color: #334D6E;
}
input[type='checkbox']:checked::after {
    content: '';
    position: absolute;
    left: 2px;
    width: 8px;
    height:11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.svgtext{
    color: var(--334-d-6-e, #334D6E);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
}
svg{
    width: 182px;
    height: 182px;
    flex-shrink: 0;     
}
table tr{
    display: grid;
    grid-template-columns: 0.1fr 0.3fr 0.15fr 0.1fr 0.1fr 0.1fr 0.1fr;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
table {
    width: 1122px;
    height: 531px;
    flex-shrink: 0;
    background-color: #FFF;
    margin-top: 20px;
    display: grid;
}
.custom-row{
    margin-left: 300px;
}
.videoframe{
    width: 1122px;
    height: 531px;
    flex-shrink: 0;
    fill:#FFF;
    margin-left: 35px;
}
.profile-image {
    width: 137px;
    height: 77px;
    border-radius: 3px;
    flex-shrink: 0;
}
.profileTitle{
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
}
.custom-video-wrapper {
    border-radius: 3px;
    width: 137px;
    height: 77px;
    flex-shrink: 0;
    position : relative;
    display: flex;
    margin-right: 100px;
}
.visibility-icon-with-text{
    margin-left: 40px;
}
.visibility-text {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
}
.new-button{
    width: 173px;
    height: 100px;
    flex-shrink: 0;
    background: var(--bg-2, #FCFCFC);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
 }
.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.image-icon {
    width: 24px;
    height: 24px;
    margin-left: 13px;
}
.margin-left-10 {
    margin-left: 20px;
}
.image-cell {
    text-align: center;
  }
.table-data-cell {
    padding: 10px 15px; 
    text-align: center; 
}
.edit-dropdown{
    width: 173px;
    height: 100px;
    flex-shrink: 0;
    background: var(--bg-2, #FCFCFC);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}
.edit-direct{
    width: 173px;
    height: 45px;
    flex-shrink: 0;
    background:#FFF;
    border: none;
}
.edit-direct:hover{
    background: #F5F6F8;
}
.check-detail{
    width: 173px;
    height: 45px;
    flex-shrink: 0;
    background: #FFF;
    border: none;
}
.check-detail:hover{
    background: #F5F6F8;
}
.edit-text{
    color: var(--090909, #090909);
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
}
.bottom-box{
    margin-top: 14px;
    margin-left: 1046px;
    display: flex;
    flex-wrap: nowrap;
}
.left-button{
    display: flex;
    width: 32px;
    height: 32px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid var(--neutral-5, #D9D9D9);
    background: var(--neutral-1, #FFF);
    margin-right: 8px;
    color: #D9D9D9;
}
.current-page{
    display: inline-flex;
    padding: 1px 7px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    background: var(--light-point, #5100CE);
    margin-right: 8px;
    width: 32px;
    height: 30px;
    color: var(--dark-main-text, #F5F6F8);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    border: none;
}
.right-button{
    display: flex;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid var(--neutral-5, #D9D9D9);
    background: var(--neutral-1, #FFF);
    color: #D9D9D9;
}
.all-option{
    width: 310px;
    height: 256px;
    background: #FFF;
    display: flex;
    flex-direction: column;
}
.option-edit,
.option-game,
.option-fix,
.option-sparky,
.option-link{
    color: var(--334-d-6-e, #334D6E);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    margin-left: 30px;
}
.group-dropdown{
    display: flex;
    flex-wrap: nowrap;

}
.styled-row {
    margin-top: 20px;
}
.custom-line{
    width: 1122px;
    height: 0.5px;
    background: #C2CFE0;
}
.dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    margin-top: 5px;
  }
  .option-icon {
    width: 24px;
    height: 24px;
    
  }